body {
   font-family: 'Nunito Sans', sans-serif;


}

.container {
   max-Width: 1188px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

header {
   border-bottom: 1px solid #E5E5E5;
}

.header {
   font-family: 'Open Sans', sans-serif;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header-item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-basis: 68.5%;
}

.header-logo {
   display: block;
   background-image: url(../image/Logo.svg);
   width: 176px;
   height: 56px;
   background-repeat: no-repeat;
   background-size: cover;
}


.header-nav {
   list-style-type: none;
   display: flex;
   padding-left: 0;
   gap: 46px;
   padding: 24px;
}

.header-nav a {
   font-weight: 600;
   font-size: 20px;
   color: #443737;
   text-decoration: none;
}

.header-nav a:hover {
   color: #FFC725;
}

.header-nav a::after {
   content: "";
   width: 100%;
   height: 3px;
   border-radius: 1.5px;
   background: transparent;
   display: block;
   bottom: 0;
}

.header-nav a.active::after {
   background: #FFC725;
}

.button {
   display: flex;
   align-items: center;
   background-color: transparent;
   border: none;
   padding: 0;
   gap: 10px;
   cursor: pointer;
}

.button-item {
   position: relative;
}

.button-count {
   font-weight: 700;
   font-size: 13px;
   color: #FFFFFF;
   background: #F37335;
   border-radius: 100%;
   position: absolute;
   width: 17px;
   height: 17px;
   text-align: center;
   line-height: 1.3;
}

.button-text {
   color: #443737;
   font-weight: 700;
   font-size: 15px;
}

.bg {
   text-align: center;
   color: #FFFFFF;
   background-image: url(../image/bg.jpg);
   background-size: cover;
   background-position: center center;
   padding: 142px 0;
   margin-bottom: 140px;
}

.breardcrumbs {
   padding: 0;
   margin-top: 0;
   list-style-type: none;
   display: flex;
   justify-content: center;
   gap: 16px;
}

.breardcrumbs a {
   color: #DEDEDE;
   font-size: 15px;
   font-family: 'Nunito Sans', sans-serif;
   text-decoration: none;
}

.breardcrumbs a:hover {
   color: #FFC725;
}

.breardcrumbs a::before {
   content: "/";
   position: relative;
   left: -7px;
   pointer-events: none;
}

.breardcrumbs a::before {
   color: #DEDEDE;
}

.breardcrumbs li:first-child a::before {
   display: none;
}

.title {
   font-weight: 700;
   font-size: 79px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.description {
   font-family: 'Open Sans';
   font-size: 15px;
   line-height: 1.5;
   color: #FAF9F9;
   max-width: 320px;
   margin: 0 auto;
}

.banner-box {
   background-image: url(../image/булка\ \(2\).jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 0 center;
   padding: 100px 100px 120px;
   margin-bottom: 80px;
}

.banner-title {
   font-size: 60px;
   font-weight: 900;
   color: #FFFFFF;
   margin-top: 0;
   margin-bottom: 12px;
}

.banner-text span {
   font-size: 14px;
   font-family: 'Open Sans';
   font-weight: 600;
   text-transform: uppercase;
   background-color: #FBB731;
   border-radius: 14px;
   padding: 5px 0;
   display: block;
   max-width: 96px;
   text-align: center;
   margin-bottom: 9px;
}

.banner-title_span {
   max-width: 95px;
   display: block;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 14px;
   line-height: 18px;
   text-transform: uppercase;
   color: #FFFFFF;
   background: #F37335;
   border-radius: 14px;
   padding: 5px 19px 5px 17px;
}

.banner-text {
   color: #FAF9F9;
   font-size: 15px;
   line-height: 1.6;
   font-family: 'Open Sans';
   max-width: 353px;
   margin-top: 0;
   margin-bottom: 35px;
}

.banner-link {
   font-weight: 700;
   font-size: 14px;
   padding: 18px 25px;
   text-transform: uppercase;
   text-decoration: none;
   color: #1E2F40;
   background-color: #FBB731;
   border-radius: 5px;
   border: 1px solid #FBB731;
   transition: 0.2s;
}

.banner-link:hover {
   background-color: transparent;
   color: #F37335
}

.menu- {
   padding-top:
      20px;
}

.menu-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.menu-title {
   font-size: 44px;
   font-weight: 700;
   text-transform: uppercase;
   color: #1B2A49;
}

.menu-select {
   border: 1px solid #DEDEDE;
   padding: 10px 30px;
   border-radius: 22px;
   color: #443737;
   font-size: 15px;
   appearance: none;
   flex-basis: 279px;
   background-image: url(../images/стрелка.svg);
   background-size: 12.79px 7.75px;
   background-repeat: no-repeat;
   background-position: 89% center;
}

.menu-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 50px 20px;
   text-align: center;
   margin-bottom: 100px;
}

.menu-grid-btn:hover {
   background-color: #FBB731;
   border-radius: 5px;
   padding: 10px 32px;
   border: none;
   display: flex;
   align-items: center;
   margin: 0 auto;
   gap: 9px;
   background-color: #FBB731;
   border: 1px solid #FBB731;
   ;
}

.menu-grid-btn:hover {
   background-color: transparent;
   color: #F37335;

}


.menu-grid-cover {
   width: 100%;
   height: 430px;
   position: relative;
   overflow: hidden;
   margin-bottom: 38px;
}

.menu-grid-cover img {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   object-fit: cover;
   width: 100%;
   height: 430px;
}

.menu-grid-text {
   font-weight: 700;
   font-size: 14px;
   text-transform: uppercase;
   text-decoration: none;
   color: #1E2F40;
}

.menu-grid-text :hover {
   background-color: transparent;
   color: #F37335;

}

.menu-grid-btn {
   background-color: #FBB731;
   border-radius: 5px;
   padding: 10px 32px;
   border: none;
   display: flex;
   align-items: center;
   margin: 0 auto;
   gap: 9px;
   color: #1E2F40;
   border: 1px solid #FBB731;
   ;
}

.menu-grid-btn:hover {
   background-color: transparent;
   color: #F37335;
}


.menu-grid-icon {
   background-image: url(../image/корзина\ \(3\).svg);
   background-size: cover;
   background-repeat: no-repeat;
   display: block;
   width: 18px;
   height: 18px;
}

.menu-grid-title {
   font-weight: 600;
   font-size: 30px;
   color: #1B2A49;
   margin: 0;
}

.menu-grid-pcice {
   font-weight: 700;
   font-size: 30px;
   color: #979797;
   margin-top: 8px;
   margin-bottom: 22px;
}

.footer {
   background: #1E2F40;
   color: #fff;
   padding-top: 117px;
   padding-bottom: 106px;
   margin-top: 140px;
}

.footer-box {
   display: flex;
   justify-content: space-between;
}

.footer-logo {
   width: 63px;
   height: 56px;

}

.footer-item {
   flex: 0 0 auto;
   font-family: 'Nunito Sans';
   font-weight: 800;
   font-size: 20px;
   line-height: 0px;
   text-transform: uppercase;

}

.footer-item h2 {
   font-size: 20px;
   font-weight: 800;
   margin-bottom: 19px;
   text-transform: uppercase;
   margin-bottom: 0;
}


.footer-list li {
   margin-bottom: 9px;
   font-family: 'Nunito Sans';
   font-size: 15px;
   color: #FAF9F9;
   font-weight: 700;
   line-height: 24px;
}


.footer-list a {
   font-family: 'Open Sans';
   font-style: normal;
   color: #DEDEDE;
   text-decoration: none;
   font-weight: 400;
}

.footer-list a:hover {
   font-family: 'Open Sans';
   font-style: normal;
   color: #FBB731;
   text-decoration: none;
   font-weight: 400;

}

.footer-item span {
   color: #f8f8f8;
   display: block;
   margin-bottom: 2px;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;

}

.footer-item li {
   margin-bottom: 9px;
   color: #f8f8f8;
   display: block;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 24px;
}

.footer-list-tel {
   margin-top: 0;
}

.footer-list-tel {
   margin-bottom: 12px;
}

.footer-list-tel a {
   font-size: 20px;
   font-weight: 900;
   color: #FBB731;
}

.footer-list-tel a:hover {
   font-size: 20px;
   font-weight: 900;
   color: #ffffff;
}

.footer-list {
   padding-left: 0;
   list-style-type: none;
}

.button-up {
   background-color: #FBB731;
   font-weight: 700;
   font-size: 14px;
   text-transform: uppercase;
   color: #1E2F40;
   text-decoration: none;
   padding: 5px 20px;
   position: fixed;
   bottom: 20px;
   right: 20px;
   transition: 1s;
}

.button-up:hover {
   background-color: #F37335;
}

.button-up.hidden {
   opacity: 0;
}

.button-up.viside {
   opacity: 1;
}

/*style index*/
.main {
   background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}

.wrapper {
   max-width: 1180px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

.content {
   color: #FAF9F9;
   flex: 0 0 580px;
   padding-top: 170px;
   padding-bottom: 170px;
}

.content-title {
   font-size: 120px;
   font-weight: 800;
   text-transform: uppercase;
   line-height: 120px;
   margin-bottom: 40px;
   margin-top: 0;
   margin-bottom: 0;
}

.content-title span {
   color: #FBB731;
   font-size: 30px;
   font-weight: 700;
   line-height: 38px;
   display: block;
   margin-bottom: 10px;
}

.content-text {
   font-family: 'Open Sans', sans-serif;
   font-size: 19px;
   line-height: 1.4;
   margin-bottom: 42px;
}

.content-link,
.promo a {
   color: #1E2F40;
   background-color: #FBB731;
   border-radius: 5px;
   text-decoration: none;
   padding: 20px 45px;
   display: inline-block;
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 700;
}

.visual {
   flex-grow: 1;
   display: flex;
   justify-content: flex-end;
   position: relative;
}

.visual-bg {
   width: 432px;
   height: 100%;
   background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}

.main img {
   width: 800px;
   position: absolute;
   right: -160px;
}

.promo {
   padding-top: 186px;
   padding-bottom: 46px;
}

.promo-left,
.promo-right {
   flex: 0 0 49%;
   color: #fff;
   box-sizing: border-box;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.promo-left {
   background-image: url(../image/бурргер.png);
   padding: 116px 50px;
}

.promo-right {
   background-image: url(../image/promo-right.png);
   padding: 102px 50px;
}

.sale {
   font-size: 14px;
   font-weight: 900;
   background: #F37335;
   padding: 5px 19px;
   border-radius: 14px;
   display: inline-block;
   text-transform: uppercase;
   margin-bottom: 3px;
}

.cost {
   font-size: 60px;
   font-weight: 900;
   margin-bottom: 8px;
   margin-top: 0;
}

.promo-description {
   font-family: 'Open Sans' sans-serif;
   color: #FAF9F9;
   font-size: 15px;
   line-height: 24px;
   margin-bottom: 0;
}

.promo-left .promo-description {
   max-width: 392px;
}

.promo-right .promo-description {
   max-width: 300px;
   margin-bottom: 20px;
}

.free {
   font-size: 44px;
   font-weight: 700;
   margin-bottom: 10px;
   margin-top: 0;
}

/*Mobal*/
.burger {
   width: 34px;
   height: 22px;
   background-image: url(../image/Menu.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.modal {
   background-color: #fff8DC;
   max-width: 500px;
   text-align: center;
   position: absolute;
   top: -400px;
   left: 0;
   right: 0;
   margin: 20px auto 0;
   padding: 40px 30px;
   box-sizing: border-box;
   transform: .5s;
}

.modal .header-nav {
   flex-direction: column;
   align-items: center;
   gap: 23px;
   margin: 0;
}

.burger-close {
   width: 22px;
   height: 22px;
   background-image: url(../image/крестик.svg);
   background-color: transparent;
   background-size: contain;
   background-repeat: no-repeat;
   border: none;
   position: none;
   position: absolute;
   top: 20px;
   right: 20px;
   cursor: pointer;
}

/*Responsive*/

@media (min-width: 1001px) {
   .footer-list+.footer-list-tel {
      display: none;
   }
}

@media (max-width: 1000px) {
   .container {
      max-width: 768px;
   }

   .header-logo {
      width: 150px;
      height: 48px;
      background-size: contain;
   }

   .header-nav {
      gap: 22px;
   }

   .header-item {
      flex-basis: 75.5%;
   }

   .bg {
      margin-bottom: 72px;
   }

   .banner-box {
      background-position: -80px center;
      padding: 100px 40 px 120px;
   }

   .menu-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 50px 15px;
   }


   .menu-other .menu-grid {
      display: flex;
      width: auto;
      overflow-x: scroll;
      overflow-y: hidden;
      padding-bottom: 50px;
   }

   .menu-other .menu-grid-item {
      flex: 0 0 281px;
   }

   .menu-other .menu-grid-cover,
   .menu-other .menu-grid-cover img {
      height: 320px;

   }

   .footer-tel {
      display: none
   }

   .footer-list+.footer-list-tel {
      display: block;
   }
}
